*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(195,70,252,1) 100%);
    background-size: cover;
}

.box{
    width: 500px;
    background: rgba(0, 0, 0, 0.174);
    margin: 0% auto;
    margin-top: 4%;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 15px ;
}

.box-img{
    border-radius: 50%;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
}

.box h2{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}

.box p{
    text-align: justify;
}
