*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgba(90, 96, 102, 0.452); 
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;    
}

.titulo{
    color: red;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header{
    width: 100%;
    height: 600px;
    background:  url(../img/Portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
    
}

nav{
    background-color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
    color: red;  
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 50px;
    color: white;
    font-weight: 300;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor-sobre-rock{
    display: flex;
    justify-content: space-between;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: gray ;
    color: black;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    height: 100px ;
    padding: 4px;
    box-shadow: 0 0 6px red;
    margin-right: 5px;
}
.contenedor-textosp{
    padding: 0px 0px 30px 50px ;
    font-weight: 300;
    text-align: justify;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


